* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-family: 'PP mori' !important;
}

.cursor {
    height: 20px;
    width: 20px;
    position: fixed;
    border-radius: 50%;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: backgorund-image ease 0.5s;
    background-position: center;
    background-size: cover;

}


.mouse_enter {

    /* mix-blend-mode: difference; */

    background-color: red;
    height: 20px;
    width: 70px;
    z-index: 10;
    position: relative;
    border-radius: 13%;

}


.mouse_enter p {
    font-family: PP mori;
    font-size: 0.7vw;
    color: #fff;
    position: fixed;
    white-space: nowrap;
    padding-block: 6px;
    padding-left: 4px;
    position: relative;
    z-index: 10;
}

.main {
    background-color: #0F0D0D;
    cursor: none;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    padding-top: 12vw;
}

#nav {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 12;
}

#nav img {
    height: 26px;

}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav-part3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#nav h4 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;

}

#nav h4:nth-child(1) {
    border-bottom: 1.5px solid #fff;
}

.page1 h1 {
    font-size: 7vw;
    font-family: 'PP mori';
    font-weight: 300;
    margin-left: 6vw;
}

.page1 h2 {
    font-family: 'PP mori';
    font-size: 8vw;
    font-weight: 300;
    margin-left: 26vw;
}

.page1 video {
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

}


.page2 {
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;

}

.page2 h1 {
    font-size: 7vw;
    font-family: PP mori;
    color: #111;
    font-weight: 300;
    margin-left: 50px;


}

.page2_container {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    margin-top: 8vh;

}

.page2_left {

    width: 38%;
}

.page2_left h2 {
    font-size: 3.5vw;
    font-weight: 300;
    color: #111;
    font-family: PP mori;
    line-height: 4vw;
}

.page2_right {

    width: 34%;
}

.page2_right p {
    font-size: 2vw;
    font-family: PP mori;
    color: #111;
}

.page2_right button {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
    font-family: PP mori;
    padding-block: 8px;
}


.page3 {
    min-height: 100vh;
    width: 100%;
    margin-top: 15vh;
}

.page3 h1 {
    font-size: 5.8vw;
    font-weight: 300;
    color: #111;
    font-family: PP mori;
    margin-left: 100px;
    margin-bottom: 13vh;
}

.page3_part1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    margin-top: 40px;
}

.page3_part1 img {
    width: 38vw;
    margin-top: 100px;

}

.page3_part1 video {
    width: 42vw;
}

.view_all {
    font-family: PP mori;
    color: white;
    font-weight: 300 !important;
    font-size: 4vw !important;
    margin-left: 3vw;
    margin-bottom: 30px;

}


.circle-btn {
    height: 7rem;
    width: 7rem;
    text-align: center;
    background-color: pink;
    border-radius: 100%;
    border: 0;
    font-family: PP mori;
    color: black;
    font-weight: 500;
    position: relative;
    left: 40vw;
    bottom: 4vh;
}



.page3_sub_footer {
    display: flex;


}

.page4 {
    min-height: 100vh;
    width: 100%;
    /* background-color: red; */
    z-index: 9;
    position: relative;
    padding: 100px 100px;
}

.page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}

.elem {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.text-div {
    height: 80px;
    overflow: hidden;

}

.elem h1 {
    font-size: 5.1vw;
    font-family: PP mori;
    transition: all ease-out 0.5s;
    font-weight: 500;
    text-transform: uppercase;

}

.elem img {
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
    width: 27vw;
}

.elem img:nth-child(1) {
    left: 0%
}

.elem img:nth-child(3) {
    right: 0%;
}


.elem:hover h1 {
    transform: translateY(-100%);
    color: pink;

}

.elem:hover img {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
}

.footer{
    height: 90vh;
    width: 100%;
    /* background-color:#008000; */
}

.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'PP mori';
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

.page5 h2{
    font-family: 'PP mori';
}